<section class="home">
	<img src="/modules/core/img/brand/home-book.jpg">

	<h2>IN ENGLISH</h2>
	<p>
		Discover the power of the Pomodoro Technique & learn how to apply it in our revised, updated and expanded third edition.
	</p>

	<ul class="book-list list-unstyled">
		<li>
			<div class="col-md-4">
				<img src="/modules/core/img/books/book-epub-kindle.jpg"/>
			</div>
			<div class="col-md-4">
				<h5>HARD COVER BOOK</h5>
				<p>
					Learn how to use your time in a more effective and focused manner with the new Pomodoro Technique hardcover book.
				</p>

			</div>
			<div class="col-md-4">
				<div class="price">
					10,95 EUR
				</div>
				<button class="button">
					BUY NOW ON
				</button>

			</div>
			
		</li>
		<li>
			<div class="col-md-4">
				<img src="/modules/core/img/books/book-epub-kindle.jpg"/>
			</div>
			<div class="col-md-4">
				<h5>HARD COVER BOOK</h5>
				<p>
					Learn how to use your time in a more effective and focused manner with the new Pomodoro Technique hardcover book.
				</p>

			</div>
			<div class="col-md-4">
				<div class="price">
					10,95 EUR
				</div>
				<button class="button">
					BUY NOW ON
				</button>

			</div>
			
		</li>
		<li>
			<div class="col-md-4">
				<img src="/modules/core/img/books/book-epub-kindle.jpg"/>
			</div>
			<div class="col-md-4">
				<h5>HARD COVER BOOK</h5>
				<p>
					Learn how to use your time in a more effective and focused manner with the new Pomodoro Technique hardcover book.
				</p>

			</div>
			<div class="col-md-4">
				<div class="price">
					10,95 EUR
				</div>
				<button class="button">
					BUY NOW ON
				</button>

			</div>
			
		</li>
	</ul>
</section>