<section class="home" data-ng-controller="HomeController">

	<h2 class="home-title">DO <strong>MORE</strong>  AND HAVE <strong>FUN </strong> WITH <strong>TIME MANAGEMENT</strong></h2>
	<h4>WHAT IS THE PROMODORO TECHNIQUE</h4>
	<h4>WHY DOES IT WORK ?</h4>
	<div class="row">
		<div class="col-md-4">
			<span class="simple-ico"></span>
			<span class="ico-label">
				<strong>EASY</strong>
			for anyone to use
			</span>
		
			
		</div>
		<div class="col-md-4">
			<span class="immediately-ico"></span>
			<span class="ico-label">
				Improves productivities 
				<strong>IMMEDIATELY</strong>
			</span>
			
		</div>
		<div class="col-md-4">
			<span class="fun-ico"></span>
			<span class="ico-label">
				<strong>FUN</strong> to do
			</span>			
		</div>
	</div>
	<h4>WHAT ARE PEOPLE SAYING</h4>
	<h4>READY TO LEARN MORE?</h4>
</section>