
<aside class="sidebar pull-left">
	<img class="logo" src="/modules/core/img/brand/logo.png"/>
	<h4 class="sidebar-title"><a href="/#!/blog">
		NEWS >>
	</a></h4>
	<ul class="sidebar-news list-unstyled">
		<li>
			<a href="/#!/news/1">
				<img src="/modules/core/img/news/POMODORO_Blog_Post_BREAK_2-150x150.png"/>
			</a>
			
			<a href="/#!/news/1">
				Things to do in your 5 minute break
			</a>

		</li>
		<li>
			<a href="/#!/news/1">
				<img src="/modules/core/img/news/POMODORO_Blog_Post_BREAK_2-150x150.png"/>
			</a>
			
			<a href="/#!/news/1">
				Things to do in your 5 minute break
			</a>

		</li>
		<li>
			<a href="/#!/news/1">
				<img src="/modules/core/img/news/POMODORO_Blog_Post_BREAK_2-150x150.png"/>
			</a>
			
			<a href="/#!/news/1">
				Things to do in your 5 minute break
			</a>

		</li>
		<li>
			<a href="/#!/news/1">
				<img src="/modules/core/img/news/POMODORO_Blog_Post_BREAK_2-150x150.png"/>
			</a>
			
			<a href="/#!/news/1">
				Things to do in your 5 minute break
			</a>

		</li>
	</ul>
	<h4 class="contact"> <a href="/">Contact</a></h4>
</aside>

